.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* PROJECT-1 */
.aim {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
}

.discription-1 {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 350;
}
.tittle-1 {
  margin: 131px 0px 70px 0px;
  text-align: center;
  padding: 26px 221px 44px;
}
/* image-1 */
.first-project {
  background-image: url("../assets/Herobg.png");
  max-height: 652px;
  max-width: 1550px;
}
/* button */
.contact-me {
  font-size: 20px;
  font-weight: 600px;
  width: 208px;
  height: 66px;
  color: white;
  background-color: black;
  border-radius: 8px;
}
.me {
  color: white;
  text-decoration: none;
}

/* Porject-2 */
.second-project {
  padding: 80px 97px 97px 0;
  box-shadow: 0px 4px 4px 0px #000000;
  margin: 48px 250px;
  padding: 80px 97px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}
.question {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  margin: 20px 144px 24px;
}
.description-2 {
  color: rgba(13, 19, 33, 1);
  font-size: 16px;
  font-weight: 400;
  margin: 0 294px 0px;
}
.tittle-2 {
  text-align: center;
}
.main {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin: 48px 97px;
  padding: 48px;
}
.point {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}

.description-3 {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
}
/* second part */
.main-2 {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin: 48px 97px;
  padding: 48px;
}
.point-2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}

.description-4 {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
}
/* part-3 */
.main-3 {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin: 48px 97px;
  padding: 48px;
}
.point-3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}

.discription-5 {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
}

/* button section */
.btn-1 {
  border-color: rgba(13, 19, 33, 1);
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 48px;
}
.btn-2 {
  border-color: rgba(13, 19, 33, 1);
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 48px;
}
.btn-3 {
  border-color: rgba(13, 19, 33, 1);
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 48px;
}

/* image part */
.img-1 {
  width: 259.56px;
  height: 217.01px;
}
.img-2 {
  width: 259.56px;
  height: 217.01px;
}
.img-3 {
  width: 259.56px;
  height: 217.01px;
}
/* project-3 */
.inspired {
  margin-top: 150px;
  max-width: 1140px;
  text-align: center;
  padding: 0px 300px 30px;
}

.point-4 {
  color: rgb(13, 19, 33);

  font-size: 32px;
  font-weight: 800;
}
.inspired-descript {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
}

/* vedio */
.yt {
  border: 20px 100px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 50px;
  margin: 0px 200px 50px 200px;
}

.yt iframe{
    border-radius: 16px;;
}

/* fourth project */
.skill {
  margin: 90px 150px;
}
.html-learn {
  
  max-width: 1140px;
  max-height: 777px;
  text-align: center;
  padding: 88px 292px 80px;
}
.current-target {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
.target-descript {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0px;
}
.target {
  display: flex;
  justify-content: space-between;
}

.l-html {
  margin: 48px 40px 118px;
  width: 364px;
  height: 299px;
  padding: 40px;
  background-color: rgba(255, 76, 30, 0.05);
  border-radius: 16px;
}

.l-css {
  margin: 48px 40px 118px;
  width: 364px;
  height: 299px;
  padding: 40px;
  border-radius: 16px;
  background-color: rgba(0, 76, 232, 0.05);
}

.l-javasc {
  margin: 48px 40px 118px;
  width: 364px;
  height: 299px;
  padding: 40px;
  border-radius: 16px;
  background-color: rgba(255, 223, 0, 0.05);
}
/* fifth-project */

.support h3 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}

.support p {
  color: rgb(255, 255, 255);
  text-shadow: #000000;
  font-size: 16px;
  font-weight: 400;
}
/* image section */
.support-session {
  border-radius: 16px;
  background-image: url(../assets/handshake.jpg);
  background-position:center;
  margin: 47px 150px 150px;
  width: 1140px;
  /* height: 314px; */
  padding: 64px 48px;
  text-align: center;
  background-size: cover;
  color: 0 0 0 0.2;
 
}
.sub-button {
  margin: 80px 0px 0px 180px;
  display: flex;
  gap: 16px;
}

.suggest-button {
  border-color: white;
  border-radius: 8px;
  width: 548px;
  height: 57px;
}
.submit-button {
  border-radius: 8px;
  background-color: white;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  position: static;
  width: 120px;
  height: 60px;
}

/* last project */
.last-one {
  background-color: rgba(13, 19, 33, 0.03);

  height: 100px;
  padding: 32px 180px 10px 150px;
  display: flex;
  justify-content: space-around;
}
