.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* PROJECT-1 */
.aim {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
}

.discription-1 {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 350;
}
.tittle-1 {
  margin: 131px 0px 70px 0px;
  text-align: center;
  padding: 26px 221px 44px ;
}
/* image-1 */
.first-project {
  background-image: url("/assets/Hero-bg.png");
  max-height: 652px;
  max-width: 1550px;
}
/* button */
.contact-me {
  font-size: 20px;
  font-weight: 600px;
  width: 208px;
  height: 66px;
  color: white;
  background-color: black;
  border-radius: 8px;
}
/* Porject-2 */
.second-project{
    padding:80px 97px 97px 0;
    box-shadow: 0px 4px 4px 0px #000000;
    margin: 48px 250px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.question{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
margin:20px 144px 24px;
}
.description-2{
    color:rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
    margin: 0 294px 0px;
    
}
.tittle-2{
    text-align: center;
}
.main{
    border-radius:16px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    margin:48px 97px;
    padding: 48px;
}
.point{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;}

.description-3{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
}
/* second part */
.main-2{
    border-radius:16px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    margin:48px 97px;
    padding: 48px;

}
.point-2{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;}

.description-4{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
}
/* part-3 */
.main-3{
    border-radius:16px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    margin:48px 97px;
    padding: 48px;
}
.point-3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;}

.discription-5{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;

}


/* button section */
.btn-1{
    border-color: rgba(13, 19, 33, 1);
    background-color: white;
font-size: 20px;
font-weight: 600;
 width: 150px;
height: 48px;
}
.btn-2{
   border-color: rgba(13, 19, 33, 1);
    background-color: white;
font-size: 20px;
font-weight: 600;
 width: 150px;
height: 48px;
}
.btn-3{
 border-color: rgba(13, 19, 33, 1);
    background-color: white;
font-size: 20px;
font-weight: 600;
 width: 150px;
height: 48px;
}


/* image part */
.img-1{
width: 259.56px;
height: 217.01px;
}
.img-2{
    width: 259.56px;
height: 217.01px;
}
.img-3{
    width: 259.56px;
    height: 217.01px;
}
