.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* PROJECT-1 */
.aim{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;


}

.discription-1{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;

}
.tittle-1{
width: 1440px;
height: 652px;
margin: 131px 0px 70px 0px;
text-align: center;
padding: 26px 221px;
}
/* image-1 */
.first-project{
    background-image: url('/assets/Hero-bg.png');
    height: 652px;
}
/* button */
.contact-me{
font-size: 20px;
font-weight:600px;
width: 208px;
height: 66px;
color: white;
background-color: black;
border-radius: 8px;
}
